{%- liquid
  assign blocks = section.blocks

  assign style_selector = section.settings.style_selector
  assign section_styling = section.settings.section_styling
  assign background_color = section.settings.background_color
  assign text_color = section.settings.text_color

  assign autoplay = section.settings.autoplay

  assign min_blocks = 12
  assign repeat_times = min_blocks | plus: 0.0 | divided_by: blocks.size | ceil | at_least: 2 | at_most: 20
  assign animation_duration = autoplay | at_least: 1 | times: 10 | times: repeat_times
  assign marquee_autoplay = animation_duration | prepend: '--animation-speed:' | append: 's;'
-%}

{%- if blocks.size > 0 -%}
    <div
      class="announcement-bar marquee section-container {{ section_styling }} flex-1 flex-start align-center relative"
      style="{% if style_selector == 'custom' %}background: {{ background_color }}; color: {{ text_color }};--custom-text-color: {{ text_color }};{% endif %}{{- marquee_autoplay -}}"
    >
      {%- for i in (1..2) -%}
        <div class="animation-container flex-start align-center">
          {%- for i in (1..repeat_times) -%}
            {%- for block in blocks -%}
              {%- liquid
                assign text = block.settings.text
                assign link = block.settings.link
                assign link_text = block.settings.link_text
              -%}

              {%- if link != blank -%}
                <a
                  class="marquee-slide"
                  href="{{- link -}}"
                  aria-label="{{- link_text | prepend: 'Link to: ' -}}"
                  {{ block.shopify_attributes }}
                >
                  {{- text -}}
                </a>
              {%- else -%}
                <div class="marquee-slide">
                  {{- text -}}
                </div>
              {%- endif -%}
            {%- endfor -%}
          {%- endfor -%}
        </div>
      {%- endfor -%}

    </div>
{%- endif -%}

{% style %}
  #shopify-section-{{ section.id }} .announcement-bar .animation-container {
    animation-duration: {{ animation_duration }}s;
  }
{% endstyle %}

{% stylesheet %}
  section.announcement-bar-section {
    overflow: hidden;
    z-index: 98;
    min-height: 30px;
    transition: top 150ms ease-in-out;
  }

  section.announcement-bar-section:not(.announcement-bar) {
    min-height: 0;
  }

  section.announcement-bar-section:not(:has(.marquee-slide)) {
    visibility: none !important;
  }

  section.announcement-bar-section:hover .announcement-bar .animation-container {
    animation-play-state: paused;
  }

  section.announcement-bar-section .announcement-bar.marquee,
  section.announcement-bar-section .announcement-bar.marquee .marquee-slide {
    min-height: 30px;
  }

  section.announcement-bar-section .announcement-bar {
    overflow: visible;
    min-height: 30px;
  }

  section.announcement-bar-section .announcement-bar .marquee-slide {
    transition: 0.15s ease-in-out 0.1s;
    color: inherit;
    font-size: 14px;
    text-align: center;
    padding: 6px 0 0 0;
  }

  section.announcement-bar-section .announcement-bar .marquee-slide > * {
    margin-block: 0;
    font-size: 14px;
  }

  @media (max-width: 640px) {
    section.announcement-bar-section .announcement-bar .marquee-slide {
      font-size: 13px;
    }
    section.announcement-bar-section .announcement-bar .marquee-slide > * {
      font-size: 13px;
    }
  }

  section.announcement-bar-section .announcement-bar.marquee {
    --marquee-gap: 40px;
    width: 100%;
    overflow: hidden;
    isolation: isolate;
    gap: var(--marquee-gap);
  }

  section.announcement-bar-section .announcement-bar.marquee:hover .animation-container {
    animation-play-state: paused;
  }

  section.announcement-bar-section .announcement-bar.marquee .animation-container {
    z-index: 1;
    flex-flow: row nowrap;
    flex-shrink: 0;
    width: max-content;
    gap: var(--marquee-gap);
    animation-name: infiniteScroll;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
  }

  section.announcement-bar-section .announcement-bar.marquee .animation-container .marquee-slide {
    flex-shrink: 0;
    white-space: nowrap;
  }

  section.announcement-bar-section
    .announcement-bar.marquee
    .animation-container
    .marquee-slide
    > a {
    color: inherit;
    white-space: nowrap;
  }

  @keyframes infiniteScroll {
    0% {
      translate: 0% 0%;
    }
    100% {
      translate: calc(-100% - var(--marquee-gap)) 0%;
    }
  }

{% endstylesheet %}

{% schema %}
  {
    "name": "Announcement Bar",
    "tag": "section",
    "class": "announcement-bar-section sticky",
    "settings": [
      {
        "type": "header",
        "content": "Styling"
      },
      {
        "type": "select",
        "id": "style_selector",
        "label": "Styling Type",
        "options": [
          {
            "value": "theme",
            "label": "Theme"
          },
          {
            "value": "custom",
            "label": "Custom"
          }
        ],
        "default": "theme"
      },
      {
        "type": "select",
        "id": "section_styling",
        "label": "Section Style",
        "options": [
          {
            "value": "primary",
            "label": "Primary"
          },
          {
            "value": "secondary",
            "label": "Secondary"
          },
          {
            "value": "third",
            "label": "Third"
          },
          {
            "value": "fourth",
            "label": "Fourth"
          }
        ],
        "default": "primary",
        "visible_if": "{{ section.settings.style_selector == 'theme' }}"
      },
      {
        "type": "color_background",
        "id": "background_color",
        "label": "Background Colour",
        "default": "linear-gradient(#ffffff, #ffffff)",
        "visible_if": "{{ section.settings.style_selector == 'custom' }}"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Colour",
        "default": "#393939",
        "visible_if": "{{ section.settings.style_selector == 'custom' }}"
      },
      {
        "type": "header",
        "content": "Behaviour Settings"
      },
      {
        "type": "range",
        "min": 0,
        "max": 15,
        "step": 1,
        "unit": "s",
        "id": "autoplay",
        "label": "Scroll duration",
        "info": "Higher values scroll slower. Lower values scroll faster.",
        "default": 5
      }
    ],
    "blocks": [
      {
        "name": "Slide",
        "type": "slide",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "link_text",
            "info": "This is used for accessibility purposes and will be read by screen readers.",
            "label": "Label Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Announcement Bar"
      }
    ]
  }
{% endschema %}